// Create and apply mixins for day 3 assignment

// Flexbox Mixin created for mixin assignment
@mixin flex-layout($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

// Button Mixin created for mixin assignment
@mixin button-style($secondary-color, $text-color, $border-radius: 7px) {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary-color;
  color: $text-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: darken($secondary-color, 20%);
  }
}

.card__button {
  @include button-style($secondary-color, $text-color);
}

// Typography Mixin created for mixin assignment
@mixin font-style($font-family, $font-size, $line-height) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
}
.card{
  @include font-style($font-family, $font-size, $line-height);
}