$primary-color: #728f09;
$secondary-color: #d2c320;
$background-color-Light: #a2c918;
$background-color-Med: #154715;
$background-color-Dark: #116411;
$nav-color: #576404;
$font-family: times;
$font-weight: 400;
$font-size: 1rem;
$line-height: 2;
$border-radius: 7px;
$box-shadow: 4px 4px 10px #051e05;
$text-color: #ffffff;
