pre::-webkit-scrollbar {
    height: 2px; /* width of the entire scrollbar */
}

pre::-webkit-scrollbar-track {
    background: #f1f1f1; /* color of the tracking area */
}

pre::-webkit-scrollbar-thumb {
    background-color: #888; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 2px solid #f1f1f1; /* creates padding around scroll thumb */
}

/* For Firefox */
pre {
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: #888 #f1f1f1; /* thumb and track color */
}